akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "DEBUG"
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
}

http {
  interface = "0.0.0.0"
  port = 7777
}

squeezeplex {
  user = ""
  password = ""
  app-name = "squeeze-plex!"
  app-version = "0.1"
}

}